# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ============= #
# Visual Studio #
# ============= #
obj/
/*.csproj
/*.sln

# ===== #
# Other #
# ===== #
Build/